<div class="center-screen">
    <mat-card style="width: 500px; height: 300px">
        <mat-card-title style="text-align: center;">Autenticación</mat-card-title>
        <hr>
        <mat-card-subtitle style="text-align: center; margin-top: 5px">Ingreso de crendeciales</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="clientCredentials" (ngSubmit)="login()">
                <div class="containerFit">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Número de empleado</mat-label>
                        <input matInput formControlName="numEmpleado" placeholder="Número de empleado" maxlength="12"
                            (keydown)="validarEntrada($event)">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Contraseña</mat-label>
                        <input [type]="showPsw ? 'text' : 'password'" matInput formControlName="contrasenia"
                            placeholder="Contraseña" maxlength="45">
                        <button matSuffix type="button" (click)="showPsw = !showPsw" style="margin-right: 8px;">
                            <mat-icon>{{showPsw ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="containerFit">
                        <button type="submit" mat-raised-button color="primary">
                            <mat-icon>done</mat-icon> Ingresar
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>